html {
  fon-size: 14px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background: #d3dddd;
  width: 100%;
  z-index: -500;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: white;
}

ol, ul, li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translate3d(0px, 0px, 0px);
  background-image: url("../../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -50;
}

.container .scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .travel {
  position: fixed;
}

.container .travel::before {
  position: fixed;
  width: 35%;
  height: 450%;
  content: '';
  bottom: -190%;
  left: 0;
  margin-left: 32.5%;
  background: rgba(0, 0, 0, 0.5);
  transform: perspective(400px) rotateX(70deg) translateY(-32%);
  z-index: -5;
  transition: all .5s ease;
}

.container .gallery-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 0;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  transform: translateX(-50%);
  perspective: 600px;
}

.container .transform-slider {
  transform: translate3d(-640px, 50px, -300px) rotateX(0deg) translateX(640px) translateY(-90px) !important;
}

.container .hide-slider {
  transform: translate3d(-640px, 320px, 600px) rotateX(0deg) translateX(640px) translateY(-90px) !important;
}

.container .slider:nth-child(1n) {
  z-index: -10;
}

.container .slider:nth-child(2n) {
  z-index: -11;
}

.container .slider:nth-child(3n) {
  z-index: -12;
}

.container .slider:nth-child(4n) {
  z-index: -13;
}

.container .slider:nth-child(5n) {
  z-index: -14;
}

.container .slider:nth-child(6n) {
  z-index: -15;
}

.container .slider:nth-child(7n) {
  z-index: -16;
}

.container .slider:nth-child(8n) {
  z-index: -17;
}

.container .current-slider {
  opacity: 1 !important;
}

.container .slider {
  position: absolute;
  width: 60%;
  bottom: 22%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: none;
  transition: transform 1s ease, opacity 1.2s ease, visibility 1s ease;
  transform-style: preserve-3d;
  visibility: visible;
  perspective: 500px;
  opacity: 0;
}

.container .slider--after-0 {
  opacity: .9 !important;
}

.container .slider--after-1 {
  opacity: .6;
}

.container .slider--after-2 {
  opacity: .3;
}

.container .slider--after-3, .container .slider--after-4, .container .slider--after-5, .container .slider--after-6, .container .slider--after-7 {
  opacity: 0;
}

.container .slider--right .image-box, .container .slider--right .circle {
  margin-left: 70%;
}

.container .slider--left .image-box, .container .slider--left .circle {
  margin-right: 70%;
}

.container .slider-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.container .slider .image-box {
  position: relative;
  width: 380px;
  height: 380px;
  padding: 5px;
  top: 50px;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.container .slider .image-box::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #d1d1d1;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .image-box img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

.container .slider .image-box:hover {
  padding: 10px;
}

.container .slider .image-box:hover::before {
  background: rgba(43, 41, 41, 0.4);
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
}

.container .slider .content-box {
  position: absolute;
  width: 350px;
  height: 90%;
  margin-left: 20px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-out;
  perspective: 500px;
  background: rgba(0, 0, 0, 0.6);
}

.container .slider .content-box h1 {
  cursor: default;
  font-size: clamp(1rem, 1.3rem, 2.2rem);
}

.container .slider .content-box p {
  cursor: default;
}

.container .circle {
  position: relative;
  width: 60px;
  height: 60px;
  background: #8a2be2;
  bottom: -90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  cursor: pointer;
  perspective: 500px;
  z-index: 2;
}

.container .circle::before {
  position: absolute;
  content: '';
  width: 75px;
  height: 75px;
  background: #8a2be2;
  border-radius: 50%;
  opacity: .3;
  z-index: -1;
  transition: all .3s ease;
}

.container .circle::after {
  position: absolute;
  content: '';
  width: 85px;
  height: 85px;
  background: transparent;
  border: 2px solid #8a2be2;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  transition: all .3s ease;
}

.container .circle:hover::before {
  width: 95px;
  height: 95px;
}

.container .circle:hover::after {
  width: 55px;
  height: 55px;
}

.container .circle:hover span {
  transform: scale(0);
}

.container .circle:hover .fa-info {
  transform: scale(1);
}

.container .circle span {
  position: absolute;
  cursor: default;
  color: white;
  touch-action: none;
  transform: scale(1);
  transition: all .3s ease;
}

.container .circle .fa-info {
  position: absolute;
  transition: all .3s ease;
  transform: scale(0);
}

.container .socialmedia {
  border-radius: 50%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all .3s ease;
  z-index: -10;
}

.container .socialmedia--visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.container .socialmedia-content {
  position: relative;
  min-width: 300px;
  height: 50px;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

.container .socialmedia a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
}

.container .socialmedia-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #8a2be2;
  transition: all .5s ease;
  z-index: -50;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
}

.container .socialmedia-box::before {
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  background: #8a2be2;
  border-radius: 50%;
  opacity: .3;
  z-index: -1;
  transition: all .3s ease;
}

.container .socialmedia-box::after {
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  background: transparent;
  border: 2px solid #8a2be2;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  transition: all .3s ease;
}

.container .socialmedia-box:hover::before {
  width: 80px;
  height: 80px;
}

.container .socialmedia-box:hover::after {
  width: 55px;
  height: 55px;
}

.container .socialmedia-box:nth-child(1n) {
  transition-delay: 0.3s;
}

.container .socialmedia-box:nth-child(2n) {
  transition-delay: 0.6s;
}

.container .socialmedia-box:nth-child(3n) {
  transition-delay: 0.9s;
}

.container .--clicked {
  width: 100% !important;
  height: 100% !important;
  padding: 50px 0 !important;
}

.container .--clicked::before {
  display: none !important;
}

.container .--clicked-style {
  border-radius: 8px !important;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.container .--image-clicked {
  width: 70% !important;
}

.control-map {
  position: relative;
  width: 100px;
  height: 70px;
  top: calc(100% - 30px);
  left: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s ease;
  justify-content: space-evenly;
  transform: translate(-50%, -70%);
}

.control-map .arrow {
  position: relative;
  width: 30px;
  height: 30px;
  color: #d8d8d8;
  background: transparent;
  cursor: pointer;
}

.control-map .arrow--clicked::before, .control-map .arrow--clicked::after {
  background: #9d34ff !important;
}

.control-map .arrow--up {
  top: 0;
}

.control-map .arrow--up::before, .control-map .arrow--up::after {
  position: absolute;
  content: '';
  background: white;
  width: 50%;
  height: 1px;
}

.control-map .arrow--up::before {
  top: 48%;
  left: 10%;
  transform: rotateZ(-45deg);
}

.control-map .arrow--up::after {
  top: 48%;
  right: 6%;
  transform: rotateZ(45deg);
}

.control-map .arrow--up:hover .tooltip {
  visibility: visible;
  left: -150%;
  top: 5px;
}

.control-map .arrow--down {
  bottom: 0;
}

.control-map .arrow--down::before, .control-map .arrow--down::after {
  position: absolute;
  content: '';
  background: white;
  width: 50%;
  height: 1px;
}

.control-map .arrow--down::before {
  top: 50%;
  left: 10%;
  transform: rotateZ(45deg);
}

.control-map .arrow--down::after {
  top: 50%;
  right: 6%;
  transform: rotateZ(-45deg);
}

.control-map .arrow--down:hover .tooltip {
  visibility: visible;
  left: -230%;
  top: 5px;
}

.control-map .arrow--left {
  left: 20px;
  opacity: .5;
}

.control-map .arrow--right {
  right: 20px;
  opacity: .5;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */