html {
  fon-size: 14px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background: #d3dddd;
  width: 100%;
  z-index: -500;
}

h1 {
  fon-size: 5rem;
}

h2 {
  fon-size: 3rem;
}

h3 {
  fon-size: 2rem;
}

h4 {
  fon-size: 1.75rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: white;
}

ol, ul, li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translate3d(0px, 0px, 0px);
  background-image: url("../../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -50;
}

.container .scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .travel {
  position: fixed;
}

.container .travel::before {
  position: fixed;
  width: 35%;
  height: 450%;
  content: '';
  bottom: -190%;
  left: 0;
  margin-left: 32.5%;
  background: rgba(0, 0, 0, 0.5);
  transform: perspective(400px) rotateX(70deg) translateY(-32%);
  z-index: -5;
  transition: all .5s ease;
}

.container .gallery-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 0;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  transform: translateX(-50%);
  perspective: 600px;
}

.container .transform-slider {
  transform: translate3d(-640px, 50px, -300px) rotateX(0deg) translateX(640px) translateY(-90px) !important;
}

.container .hide-slider {
  transform: translate3d(-640px, 320px, 600px) rotateX(0deg) translateX(640px) translateY(-90px) !important;
}

.container .slider:nth-child(1n) {
  z-index: -10;
}

.container .slider:nth-child(2n) {
  z-index: -11;
}

.container .slider:nth-child(3n) {
  z-index: -12;
}

.container .slider:nth-child(4n) {
  z-index: -13;
}

.container .slider:nth-child(5n) {
  z-index: -14;
}

.container .slider:nth-child(6n) {
  z-index: -15;
}

.container .slider:nth-child(7n) {
  z-index: -16;
}

.container .slider:nth-child(8n) {
  z-index: -17;
}

.container .current-slider {
  opacity: 1 !important;
}

.container .slider {
  position: absolute;
  width: 60%;
  bottom: 22%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: none;
  transition: transform 1s ease, opacity 1.2s ease, visibility 1s ease;
  transform-style: preserve-3d;
  visibility: visible;
  perspective: 500px;
  opacity: 0;
}

.container .slider--after-0 {
  opacity: .9 !important;
}

.container .slider--after-1 {
  opacity: .6;
}

.container .slider--after-2 {
  opacity: .3;
}

.container .slider--after-3, .container .slider--after-4, .container .slider--after-5, .container .slider--after-6, .container .slider--after-7 {
  opacity: 0;
}

.container .slider--right .image-box, .container .slider--right .circle {
  margin-left: 70%;
}

.container .slider--left .image-box, .container .slider--left .circle {
  margin-right: 70%;
}

.container .slider-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .slider .image-box {
  position: relative;
  width: 380px;
  height: 380px;
  padding: 5px;
  top: 50px;
  border-radius: 50%;
  transition: all .3s ease;
}

.container .slider .image-box::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #d1d1d1;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

.container .slider .image-box:hover {
  padding: 10px;
}

.container .slider .image-box:hover::before {
  background: rgba(43, 41, 41, 0.4);
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
}

.container .slider .circle {
  position: relative;
  width: 60px;
  height: 60px;
  background: #8a2be2;
  bottom: -90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  cursor: pointer;
}

.container .slider .circle::before {
  position: absolute;
  content: '';
  width: 75px;
  height: 75px;
  background: #8a2be2;
  border-radius: 50%;
  opacity: .3;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .circle::after {
  position: absolute;
  content: '';
  width: 85px;
  height: 85px;
  background: transparent;
  border: 2px solid #8a2be2;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .circle:hover::before {
  width: 95px;
  height: 95px;
}

.container .slider .circle:hover::after {
  width: 55px;
  height: 55px;
}

.container .slider .circle:hover span {
  transform: scale(0);
}

.container .slider .circle:hover .fa-info {
  transform: scale(1);
}

.container .slider .circle span {
  position: absolute;
  cursor: default;
  color: white;
  touch-action: none;
  transform: scale(1);
  transition: all .3s ease;
}

.container .slider .circle .fa-info {
  position: absolute;
  transition: all .3s ease;
  transform: scale(0);
}

.container .slider .socialmedia {
  border-radius: 50%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all .3s ease;
}

.container .slider .socialmedia-content {
  position: relative;
  width: 300px;
  height: 50px;
  bottom: -40px;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

.container .slider .socialmedia a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
}

.container .slider .socialmedia-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #8a2be2;
  transition: all .5s ease;
  z-index: -50;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container .slider .socialmedia-box::before {
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  background: #8a2be2;
  border-radius: 50%;
  opacity: .3;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .socialmedia-box::after {
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  background: transparent;
  border: 2px solid #8a2be2;
  border-radius: 50%;
  opacity: .6;
  z-index: -1;
  transition: all .3s ease;
}

.container .slider .socialmedia-box:hover::before {
  width: 80px;
  height: 80px;
}

.container .slider .socialmedia-box:hover::after {
  width: 55px;
  height: 55px;
}

.container .socialmedia-box:nth-child(1n) {
  transition-delay: 0.3s;
}

.container .socialmedia-box:nth-child(2n) {
  transition-delay: 0.6s;
}

.container .socialmedia-box:nth-child(3n) {
  transition-delay: 0.9s;
}
/*# sourceMappingURL=style.css.map */