mixin slider(img)
    .slider-content
        .image-box
            .content-box
                h1 Lorem ipsum

                p Donec vel cursus augue. Vivamus non sapien tellus. Nullam fringilla ex ut molestie ultrices. Nulla quis euismod odio, id tempus lorem. Proin egestas, metus tincidunt semper ultricies, nunc diam aliquam mauris, eu aliquet ante orci non justo.

            img(src=img)
        
        .circle
            span.date-year 2020
            i.fas.fa-info.f

            +socialmedia('#', '#', '#')