mixin socialmedia(facebook, twitter, instagram)
    .socialmedia.socialmedia-content
        .socialmedia.socialmedia-box
            a(href=facebook)
                i.fab.fa-facebook-f.fw
        .socialmedia.socialmedia-box
            a(href=instagram)
                i.fab.fa-instagram.fw
        .socialmedia.socialmedia-box
            a(href=twitter)
                i.fab.fa-twitter.fw