html
    fon-size: 14px
    scroll-behavior: smooth

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    position: relative
    overflow: hidden
    color: #fff
    font-family: 'Rubik', sans-serif
    background: #d3dddd
    width: 100%
    z-index: -500

h1
    font-size: 5rem

h2
    font-size: 3rem

h3
    font-size: 2rem

h4
    font-size: 1.75rem

@media screen and (max-width: 736px)
    h1
        font-size: 3rem
    h2
        font-size: 2rem
    h3
        font-size: 1.5rem
    h4
        font-size: 1.25rem

a
    text-decoration: none
    color: white

ol, ul, li
    list-style: none

@import 'layout/content'
@import 'layout/control-map'
