section.scene
    .travel
    .gallery-container
        .slider.current-slider.slider--after-0
            .image-box
                img(src="images/img1.jpg")

            .circle
                span.date-year 2020

        .slider.slider--left.slider--after-1.transform-slider
            .image-box
                img(src="images/img2.jpg")

            .circle
                span.date-year 2002

        .slider.slider--right.slider--after-2.transform-slider
            .image-box
                img(src="images/img3.jpg")

            .circle
                span.date-year 2012

        .slider.slider--left.slider--after-3.transform-slider
            .image-box
                img(src="images/img4.jpg")

            .circle
                span.date-year 2018

        .slider.slider--right.slider--after-4.transform-slider
            .image-box
                img(src="images/img5.jpg")

            .circle
                span.date-year 2015

        .slider.slider--left.slider--after-5.transform-slider
            .image-box
                img(src="images/img6.jpg")

            .circle
                span.date-year 2020

        .slider.slider--right.slider--after-6.transform-slider
            .image-box
                img(src="images/img7.jpg")

            .circle
                span.date-year 2021

        .slider.slider--after-7.transform-slider
            .image-box
                img(src="images/img8.jpg")

            .circle
                span.date-year 2018
