section.scene
    .gallery-container
        .slider.current-slider.slider--after-0
            +slider("images/img1.jpg")

        .slider.slider--left.slider--after-1.transform-slider
            +slider("images/img2.jpg")

        .slider.slider--right.slider--after-2.transform-slider
            +slider("images/img3.jpg")

        .slider.slider--left.slider--after-3.transform-slider
            +slider("images/img4.jpg")

        .slider.slider--right.slider--after-4.transform-slider
            +slider("images/img5.jpg")

        .slider.slider--left.slider--after-5.transform-slider
            +slider("images/img6.jpg")

        .slider.slider--right.slider--after-6.transform-slider
            +slider("images/img7.jpg")

        .slider.slider--after-7.transform-slider
            +slider("images/img8.jpg")